@import url("https://fonts.googleapis.com/css2?family=Monoton:wght@400&display=swap");

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  margin: 0 auto;
}

body {
  display: flex;
  max-width: 100vw;
  overflow-x: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 100vw;
  background-color: #26004d;
  background-image: radial-gradient(
      at 47% 86%,
      rgb(0, 185, 138) 0,
      hsla(122, 85%, 52%, 0) 50%
    ),
    radial-gradient(
      at 90% 15%,
      hsla(351, 88%, 64%, 1) 0,
      hsla(351, 88%, 64%, 0) 50%
    ),
    radial-gradient(at 14% 57%, rgb(234, 207, 0) 0, hsla(120, 86%, 62%, 0) 50%),
    radial-gradient(
      at 39% 38%,
      hsla(31, 88%, 52%, 1) 0,
      hsla(31, 88%, 52%, 0) 50%
    ),
    radial-gradient(
      at 83% 44%,
      hsla(347, 94%, 58%, 1) 0,
      hsla(347, 94%, 58%, 0) 50%
    ),
    radial-gradient(
      at 52% 95%,
      hsla(201, 93%, 68%, 1) 0,
      hsla(201, 93%, 68%, 0) 50%
    ),
    radial-gradient(
      at 14% 14%,
      hsla(216, 92%, 50%, 1) 0,
      hsla(216, 92%, 50%, 0) 50%
    );
}
